* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  width: 30%;

  text-align: center;
  background-color: rgba(246, 244, 244, 0.984);
  padding: 0.5rem;
}

form input[type="Send"] {
  background-color: #43d1af;

  height: 40px;
  color: azure;
  text-align: center;
  border: none;
  font-size: 18px;
}

form input[type="Send"]:hover {
  color: #2ebc99;
}

h1 {
  background-color: #43d1af;
  height: 50px;
  width: 30%;
  color: azure;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
form input[type="text"],
form input[type="email"] {
  height: 30px;
  margin-bottom: 15px;
}

textarea {
  height: 60px;
}
