* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(141, 134, 5, 0.88);
  max-width: 95%;
  min-height: 80vh;
  border-radius: 10%;

  border: 10px solid rgb(1, 1, 6);
  border-style: double;
  margin: 4vw 2vw;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vw;
  /*  background-color: rgba(230, 230, 70, 0.764); */
  /*  border-radius: 10%; */
  /*   max-width: 80%;
  min-height: 100vh; */

  /*   border: 10px solid rgb(1, 1, 6);
  border-style: double; */
  margin-top: 1vw;
}
.alter,
.gewicht,
.grösse {
  width: 230px;
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: rgb(4, 47, 100);
  color: white;
  padding: 1.5vw 9vw;
  border-radius: 30%;
  margin-bottom: 7vw;
  margin-left: 50vw;
  font-size: 24px;
}
.rechner-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.container-top {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4vw;

  gap: 25vw;
}
.container-mittel {
  display: flex;
  justify-content: space-between;

  margin-bottom: 4vw;
  gap: 12vw;
}
.container-unten {
  display: flex;
  justify-content: space-between;

  margin-bottom: 2vw;
  gap: 11vw;
}
#belastung {
  margin-bottom: 5vw;
  margin-left: 35vw;
  font-size: 20px;
  max-width: 45%;
  padding: 0.5vw 4vw;
}

#weiblich {
  margin-left: 50vw;
  margin-bottom: 3vw;
}

h1 {
  font-size: 45px;
}
p {
  font-size: 24px;
  margin-bottom: 2vw;
}
.radiobtn {
  font-size: 24px;
}
