* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vw;
  background-color: rgba(130, 130, 101, 0.764);
  border-radius: 10%;
  max-width: 70%;

  border: 10px solid rgb(24, 44, 222);
  border-style: double;
  margin-top: 3vw;
}
.alter,
.gewicht,
.grösse {
  width: 230px;
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: blue;
  color: white;
  padding: 0.5vw 9vw;
  border-radius: 5%;
  margin-bottom: 2vw;
  margin-left: 14vw;
  font-size: 24px;
}
.container-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2vw;
}
.container-mittel {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-unten {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#belastung {
  margin-bottom: 2vw;
  margin-left: 10vw;
  font-size: 20px;
  max-width: 60%;
  padding: 0.5vw 4vw;
}

#weiblich {
  margin-left: 20vw;
  margin-bottom: 3vw;
}

h1 {
  font-size: 45px;
}
p {
  font-size: 24px;
  margin-bottom: 2vw;
}
.radiobtn {
  font-size: 24px;
}
