h2 {
  text-align: center;
  color: white;
  padding: 3vw;
}

.product_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2vw;
  border-radius: 10px;
}
.kachel {
  border: 1px solid gray;
  border-radius: 10px;
  border-style: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fetcharticle {
  background-color: rgb(12, 12, 12);
  margin: auto;
}
.fetcharticle img {
  height: 25vw;
  width: 45vw;
  border-radius: 10px;
}
.fetcharticle a {
  text-decoration: none;
  color: blueviolet;
}
