* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  padding-top: 5vw;
  margin: auto;
}
html {
  font-size: 62.5%;
}

section {
  background-color: rgb(223, 217, 189);
  padding-top: 15vw;
  margin: auto;
  border: 10px solid black;
  min-height: 85vh;
  border-style: double;
  border-radius: 10%;
  width: 50%;
}
h1 {
  text-align: center;
  margin-bottom: 1vw;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vw;
}
h3 {
  text-align: center;
  margin-bottom: 3vw;
  padding-top: 3vw;
  font-size: clamp(1rem, 1.5vw, 2rem);
}
.frontoutput {
  text-align: center;
  margin-bottom: 2vw;
  font-size: 20px;
}
.backoutput {
  text-align: center;
  margin-bottom: 3vw;
  font-size: 20px;
}
h4 {
  text-align: center;
  margin-bottom: 3vw;
  font-size: clamp(1rem, 1.5vw, 2rem);
}
.btn {
  padding: 0.5vw 1vw;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
}
#danach,
#davor {
  cursor: pointer;
}
.error {
  color: red;
  text-align: center;
  padding-top: 3vw;
  font-size: 25px;
}
#text-input,
#cut-input {
  padding: 1vw 3vw;
  border-radius: 10px;
  font-size: clamp(1rem, 1.5vw, 2rem);
  background-color: #fff;
}
form label {
  font-size: clamp(1.4rem, 2vw, 2.5rem);
}
