.kachel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin-bottom: 5vw;
  padding: 2vw 5vw;
  margin: 0 auto;
}
.infos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.kachel img {
  max-width: 40vw;
}
.kachel a {
  text-decoration: none;
  background-color: rgb(211, 170, 35);
  border-radius: 10px;
  padding: 1vw 3vw;
}
