* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
@font-face {
  font-family: Nixie one;
  src: url(../fonts/NixieOne-Regular.ttf);
}
@font-face {
  font-family: Alegreya SC;
  src: url(../fonts/AlegreyaSC-Regular.ttf);
}
@font-face {
  font-family: Alegreya Sans;
  src: url(../fonts/AlegreyaSans-Regular.ttf);
}
html {
  font-size: 62.5%;
}
/* !header!*/

header {
  background: url(../img/foto1.png) center no-repeat;
  background-size: cover;
  min-height: 100vh;

  margin-bottom: 3vw;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 2vw;
}
header h2 {
  font-family: Alegreya SC, sans-serif;
  font-size: clamp(4rem, 6.5vw, 5rem);
  font-style: normal;
  font-weight: 500;

  margin-left: 3vw;
  padding-top: 3vw;
}
header article {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10vw;
}
h1 {
  font-family: Nixie One, sans-serif;
  font-size: clamp(0.5rem, 7vw, 9rem);
  font-style: normal;
  font-weight: 400;
}
header p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Alegreya SC, sans-serif;
  font-style: normal;
  font-weight: 400;
}
/* !main!*/
.gallerie-sec {
  margin: 2vw 4.5vw;
  padding: 3vw 4.5vw;
}

.latest-works {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.latest-works h2 {
  color: #3a4f52;
  font-family: Alegreya Sans, sans-serif;
  font-size: clamp(0.5rem, 5vw, 6rem);
  font-style: normal;
  font-weight: 500;
}
.latest-works p {
  color: #6a6a6a;
  font-family: Helvetica Neue, sans-serif;
  font-size: clamp(3rem, 7vw, 8rem);
  font-weight: 400;
  padding: 2vw 4vw;
}
.btn-view-all {
  color: #3a4f52;
  text-align: center;
  font-family: Helvetica Neue, sans-serif;
  font-size: clamp(0.3rem, 1vw, 2rem);
  font-weight: 400;
  text-decoration: none;
  border: 1px solid black;
  padding: 1vw 1vw;
}
.gallerie-img-container img {
  width: 26vw;
  height: 16vw;
}

.gallerie-img-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin-bottom: 1vw;
  /* !padding?? */
}
.gallerie-img-down {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin-bottom: 3vw;
  /* !padding?? */
}

/* ! folie 3 */
.our-services {
  background: url("../img/our\ services.png") center no-repeat;

  background-size: cover;
  padding: 5vw 10vw;
}

.container {
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding: 5vw 3vw;
}

.container h4 {
  color: #fff;
  font-family: Alegreya Sans, sans-serif;
  font-size: clamp(0.1rem, 3.5vw, 3.6rem);
  font-weight: 500;
  align-items: center;
}
.container p {
  color: #fff;
  font-family: Helvetica Neue, sans-serif;
  font-size: clamp(0.1rem, 1.5vw, 1.4rem);
  font-weight: 400;
  align-items: center;
}

.s-box {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.s-box div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.s-box h4 {
  font-size: clamp(0.1rem, 2.5vw, 3rem);
}
/* !folie 4 */

.ftbg {
  margin: 2vw 3vw;
  padding: 2vw 4vw;
}

.ftbg-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ftbg-header h2 {
  color: #3a4f52;
  font-family: Alegreya Sans, sans-serif;
  font-size: clamp(0.5rem, 5vw, 6rem);
  font-style: normal;
  font-weight: 500;
}
.ftbg-header p {
  color: #6a6a6a;
  font-family: Helvetica Neue, sans-serif;
  font-size: clamp(0.1rem, 1vw, 8rem);
  font-weight: 400;
  padding: 2vw 1vw;
}
.ftbg-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 2vw;
}
.ftbg-container {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
