input,
label {
  color: white;
  text-align: center;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2vw 35vw;
}

h1 {
  color: white;
  text-align: center;
}
