.result img {
  max-width: 100%;
  border-radius: 15px;
}
.result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3vw;
}
.result button {
  background-color: rgb(219, 12, 150);
  color: white;
  padding: 0.7vw 1vw;
  border-radius: 10px;
  margin-left: 9vw;
}
.result h3 {
  text-align: center;
}
