* {
  box-sizing: border-box;
}
html {
  margin: auto;
  font-family: system-ui, sans-serif;
}

article {
  color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
}
article section {
  min-height: 10vw;
  border-radius: 10%;
  border: 10px solid black;
  padding: 2vw;
}
article h2 {
  margin-bottom: 1vw;
}
.general {
  background-color: pink;
}
.anlegen-wechseln {
  background-color: aqua;
}
.ablauf-merge {
  background-color: rgb(195, 151, 235);
}
.commits {
  background-color: yellow;
}
