* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}

.fotos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
@media only screen and (max-width: 768px) {
  .fotos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 568px) {
  .fotos-grid {
    grid-template-columns: 1fr;
  }
}
