@font-face {
  font-family: Inter-Bold;
  src: url(../fonts/Inter-Bold.ttf);
}
@font-face {
  font-family: Inter-Light;
  src: url(../fonts/Inter-Light.ttf);
}
@font-face {
  font-family: Inter-Regular;
  src: url(../fonts/Inter-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
img {
  max-width: 100%;
}

.header {
  background: url(../img/home_hero.png) center no-repeat;
  background-size: contain;
  min-height: 100vh;
}
.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3vw;
  padding-top: 1vw;
}
.nav-bar a {
  color: #2b2c2e;
  font-family: Inter-Regular;
  font-size: clamp(0.5rem, 1.3vw, 1.4rem);
  font-weight: 400;
  line-height: 19px;
  text-decoration: none;
  margin-bottom: 2vw;
}
.nav-links {
  display: flex;
  gap: 3vw;
}
.nav-mitte h1 {
  color: #2b2c2e;
  font-family: Inter-Bold;
  font-size: clamp(0.5rem, 2.3vw, 2.4rem);
  font-weight: 700;
  line-height: 38px;
}

.nav-rechts {
  border-radius: 4px;
  border: 1px solid #48494c;
  background: #fff;
  padding: 0.5vw 3vw;
}

.pickupline {
  text-align: center;
}
.pickupline h2 {
  color: #2b2c2e;
  text-align: center;
  font-family: Inter-Light;
  font-size: clamp(0.5rem, 3.8vw, 3.9rem);

  font-weight: 300;
  line-height: 47px;
  padding-top: 3vw;
}
.preis-section {
  min-height: 60vh;
}
.preis {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  max-width: 1400px;

  gap: 2vw;
  padding-top: 5vw;
}
.preis-links {
  max-width: 50%;
}
.preis-links p {
  color: #2b2c2e;
  font-family: Inter-Regular;
  font-size: clamp(1rem, 2.1vw, 2.2rem);
  font-weight: 400;
  line-height: 32px;
}
.preis-rechts p:nth-of-type(1) {
  color: #2b2c2e;
  font-family: Inter;
  font-size: clamp(0.5rem, 6vw, 6.1rem);
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 1vw;
}
.preis-rechts p:nth-of-type(2),
.preis-rechts p:nth-of-type(3) {
  color: #9fa2a7;
  font-family: Inter-Regular;
  font-size: clamp(1rem, 1.9vw, 2rem);
  font-weight: 400;
  line-height: 22px;
}
.deliv-container {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 2vw;
}
.delivrables-links {
  max-width: 650px;
}
.delivrables-rechts {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  max-width: 700px;
  text-align: left;
  margin-left: -1%;
  margin-bottom: 3vw;
}
.delivrables-rechts h2 {
  color: #2b2c2e;

  font-family: Inter-Bold;
  font-size: clamp(1rem, 2.2vw, 2.3rem);
  font-weight: 700;
  line-height: 32px;
}
.delivrables-rechts h3 {
  color: #27282a;
  font-family: Inter-Bold;
  font-size: clamp(1rem, 5.5vw, 5.5rem);
  font-weight: 700;
  line-height: 74px;
  margin-bottom: 1vw;
}
.delivrables-rechts p {
  color: #848689;

  font-family: Inter-Regular;
  font-size: clamp(0.5rem, 1.9vw, 1.9rem);
  font-weight: 400;
  line-height: 26px;
}
.works {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7vw;
  background-color: #f1f1f4;

  margin: 0 22vw 3vw 22vw;
}
.works-left {
  margin-left: 3vw;
  max-width: 700px;
}
.works img {
  max-width: 600px;
}
.works-left h2,
.works-left h3 {
  color: #27282a;
  font-family: Inter-Bold;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1vw;
}
.works-left h2 {
  font-size: clamp(1rem, 5vw, 5rem);
}
.works-left h3 {
  font-size: clamp(1rem, 4.8vw, 4.8rem);
}

.works-left p {
  color: #848689;
  font-family: Inter-Regular;
  font-weight: 400;
  line-height: normal;
  font-size: clamp(0.9rem, 1.6vw, 1.7rem);
}
.works-left p:nth-of-type(3) {
  margin-bottom: 0.9vw;
}
.works-left p:nth-of-type(1),
.works-left p:nth-of-type(2),
.works-left p:nth-of-type(3) {
  margin-left: 2vw;
}

.critique-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.critique-container h3 {
  color: #27282a;
  text-align: center;
  font-family: Inter-Bold;
  font-size: clamp(1rem, 4.9vw, 5rem);
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2vw;
}
.critique-container p {
  color: #9fa2a7;
  text-align: center;
  font-family: Inter-Regular;
  font-size: clamp(0.5rem, 1.5vw, 1.6rem);
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.5vw;
}
.critique-container p:nth-of-type(2) {
  margin-bottom: 1vw;
}

.section-28 {
  background: url(../img/28.png) center no-repeat;
}
.section-28-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding-top: 15vw;
  margin-left: 9vw;
  padding-left: 5vw;

  max-width: 1400px;
  margin: auto;
  margin-bottom: 5vw;
}

.section-28-bottom img {
  max-width: 20vw;
  padding: 4vw 0;
}
.section-28-bottom p {
  color: #9fa2a7;
  font-family: Inter-Regular;
  font-size: clamp(0.5rem, 1.9vw, 2rem);
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0.3vw;
}
/* footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
footer h5 {
  color: #27282a;
  text-align: center;
  font-family: Inter-Bold;
  font-size: clamp(1rem, 4.7vw, 4.8rem);
  font-weight: 700;
  line-height: normal;
  margin-bottom: 3vw;
}

.costum a {
  color: #2b2c2e;
  font-family: Inter-Regular;
  font-size: clamp(0.5rem, 1.5vw, 1.6rem);
  font-weight: 400;
  line-height: normal;
}
.costum p {
  color: #9fa2a7;
  font-family: Inter-Regular;
  font-size: clamp(0.5rem, 1.5vw, 1.6rem);
  font-weight: 400;
  line-height: normal;
}
.costum {
  display: flex;
  justify-content: center;
  align-items: center;
}
.costum a {
  text-decoration: none;
}
.costum img {
  margin-bottom: 6vw;
  margin-left: -4%;
  max-width: 5vw;
}
