@font-face {
  font-family: Nunito-Black, sans-serif;
  src: url(../fonts/Nunito-Black.ttf);
}
@font-face {
  font-family: Nunito-Bold, sans-serif;
  src: url(../fonts/Nunito-Bold.ttf);
}
@font-face {
  font-family: Nunito-Regular, sans-serif;
  src: url(../fonts/Nunito-Regular.ttf);
}
@font-face {
  font-family: RockSalt-Regular, sans-serif;
  src: url(../fonts/RockSalt-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
.header {
  margin: auto;
}
.header a {
  color: #000;
  text-align: center;
  font-family: RockSalt-Regular, sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
}
.lieferando {
  display: flex;
  justify-content: center;
}
.liferando img {
  justify-content: end;
}
.lieferando div:nth-of-type(1) {
  background-color: #df8480;
  width: 50vw;
}
/* .lieferando div:nth-of-type(2) {
  width: 50vw;
}
 */
