.counter {
  background: url(../../../public/img_170995_bluebanana_sm.jpg) center no-repeat;
  background-size: contain;
  background-color: rgb(27, 111, 184);
  max-width: 90vw;
  margin: auto;
  padding: 1vw 4vw;
  border-radius: 10px;
  min-height: 90svh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vw;
  gap: 8vw;
}

.output {
  border-radius: 20px;
  padding: 5vw 15vw;
  text-align: center;
  background-color: white;
  font-size: 20px;
  font-weight: 600;

  margin-bottom: 10vw;
}
#number {
  text-align: center;
  border-style: none;
  margin-bottom: 5vw;
  background-color: white;

  padding: 4.5vw 14vw;
  display: block;

  border-radius: 20px;
}
.counter h1,
.counter h3 {
  text-align: center;
  color: white;
}
.counter h1 {
  font-size: 40px;
  text-shadow: 5px 5px 10px white;
  margin-bottom: 5vw;
}
h3 {
  font-size: 24px;
}
.counter button {
  padding: 2vw 8vw;
  border-radius: 20px;
  border-style: none;
  background-color: #ffffff;
  color: #1b6fb8;
}
.btn {
  display: flex;
  justify-content: center;
  gap: 7vw;
}
p {
  text-align: center;
}
img {
  max-width: 25vw;
  border-radius: 20px;
}
